html {
  scroll-behavior: smooth;
}

body 
{
    font-family: 'Cambay', sans-serif;
    background-color: #2f3638;
    color: #a8b4ba;
	overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
body {
    -ms-overflow-style: none;
}

#maintext
{
    padding: 20px;
    padding-bottom: 150px;
	padding-top: 230px;
    font-size: 4vw;
    text-align: center;
    margin: 5px;
}

.wide1
{
    background: #333c40;
    position: relative;
    padding: 30px;
    margin-top: 50px;
	text-align: right;
}

#infotext
{
    float: right;
    font-size : 1.5vw;
}


#navbar
{
    text-align: center;
    height: 100px;
}

#nowoscitext
{
	font-size: 20px;
	text-align: center;
}

#kontakttext
{
	padding-top: 75px;
	font-size: 35px;
	text-align: center;
}

#linktext
{
	padding-top: 75px;
	font-size: 35px;
	text-align: center;
}

#linktext a 
{
	padding-top: 75px;
	font-size: 35px;
	text-align: center;
	color: #a8b4ba;
	text-decoration: none;
}

#linktext a:hover 
{
	transition: 0.3s;
	color: #ccd6db;
}

#nowoscimaintext
{
	margin-top: 70px;
	padding: 10px;
	font-size: 50px;
	text-align: center;
}

ul {
    text-align: center;
    display:inline-block;
    vertical-align:top;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #191b1c;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    border: 0;
    -webkit-box-shadow: 0px -22px 33px 43px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px -22px 33px 43px rgba(0,0,0,0.34);
    box-shadow: 0px -22px 33px 43px rgba(0,0,0,0.34);
    z-index: 999;
	text-align: center;
}

li {
    top: 50%;
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
}

li a {
  display: block;
  color: #bcccd4;
  text-align: center;
  padding: 10% 70px;
  text-decoration: none;
}
#content
{
    position: absolute;               /* 2 */
    top: 50%;      
    right: 0;
    transform: translate(0, -50%);
    float: right;
    padding-right: 60px;
    font-size: 2.5vw;
    max-width: 50%;

}

#prodimg
{
  max-width: 100%;
  height: auto;
}

li a:hover {
  background-color: #111;
}

#logoimg:hover
{
	transition: 0.3s;
    opacity: 0.5;
}

.infoimage
{
	max-width: 51%;
}

.infoimage:hover {
    transition: 0.3s;
    opacity: 0.5;
}

#stuff 
{
    opacity: 0.0;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    position: absolute;
    bottom: 3vw;
    left: 4vw;
    font-size: 3vw;
}

#stuff a
{
	text-decoration: none;
	color: #a8b4ba;
}

.infoimage:hover #stuff {
    opacity: 1.0;
}

#stuff:hover
{
    opacity: 1.0;
}

#stuff:hover #prodimg {
    opacity: 0.5;
}
